[viewBag]
==

<section class="module {{ className|default('py-36') }}">
    <div class="container">
        {% if not user %}

        <div class="flex items-end flex-col lg:flex-row xl:flex-row 2xl:flex-row">
            {% partial __SELF__ ~ '::signin' %}
            <div
                class="divider text-gray-200 before:bg-gray-200 after:bg-gray-200 lg:divider-vertical xl:divider-vertical 2xl:divider-vertical">
            </div>
            {% partial __SELF__ ~ '::register' %}
        </div>

        {% else %}
        <div class="w-full">

            {% partial __SELF__ ~ '::activation_check' %}

            {% partial __SELF__ ~ '::update' %}

            {% partial __SELF__ ~ '::deactivate_link' %}
        </div>

        {% endif %}
    </div>

</section>