[viewBag]
==

<section class="contact_area p_120 contact_form">
   <div class="container">
    {% if not user %}

        <div class="grid grid-cols-2">

            <div>
                {% partial __SELF__ ~ '::signin' %}
            </div>

            <div>
                {% partial __SELF__ ~ '::register' %}
            </div>

        </div>

    {% else %}
        <div class="row">
            <div class="col-lg-9">
                
            {% partial __SELF__ ~ '::activation_check' %}

            {% partial __SELF__ ~ '::update' %}

            {% partial __SELF__ ~ '::deactivate_link' %}
            </div>
          
        </div>

    {% endif %}
   </div>

</section>
