[viewBag]
==
{% if canRegister %}
<div class="container px-4 lg:px-8 xl:px-24 2xl:px-32 h-full">

  <form data-request="onRegister">
    <div class="form-control">
      <label class="label" for="grid-password">姓名</label>
      <input name="name" type="text" id="registerName" class="input input-bordered" placeholder="姓名"
        style="transition: all 0.15s ease 0s;" />
    </div>


    <div class="form-control">
      <label class="label" for="registerEmail">Email</label>
      <input name="email" type="email" class="input input-bordered" id="registerEmail" placeholder="请输入邮箱" />
    </div>

    {% if loginAttribute == "username" %}
    <div class="form-control">
      <label class="label" for="registerUsername">账号</label>
      <input name="username" type="text" class="input input-bordered" id="registerUsername" placeholder="请输入账号" />
    </div>
    {% endif %}

    <div class="form-control">
      <label class="label" for="registerPassword">密码</label>
      <input name="password" type="password" class="input input-bordered" id="registerPassword" placeholder="请输入密码" />
    </div>
    <div class="mt-6">
      <button type="submit" class="btn btn-primary btn-wide">注册</button>
    </div>
  </form>
  <div class="flex flex-wrap mt-6">
    <div class="w-1/2">
      <a href="#pablo" class="text-gray-300"><small>Forgot password?</small></a>
    </div>
    <div class="w-1/2 text-right">

    </div>
  </div>
</div>

{% else %}
<!-- Registration is disabled. -->
{% endif %}