[viewBag]
==


<div class="container px-4 lg:px-8 xl:px-24 2xl:px-32 h-full">

  <form data-request="onSignin">
    <div class="form-control">
      <label class="label lg:justify-end" for="grid-password">邮箱</label>
      <input name="login" type="text" id="userSigninLogin"
        class="input input-bordered lg:text-right xl:text-right 2xl:text-right" placeholder="Email" />
    </div>
    <div class="form-control">
      <label class="label lg:justify-end" for="grid-password">密码</label>
      <input name="password" type="password" id="userSigninPassword"
        class="input input-bordered lg:text-right xl:text-right 2xl:text-right" placeholder="Password" />
    </div>

    <div class="mt-6 lg:text-right items-center flex justify-end">
     
      <button class="btn btn-primary btn-wide" type="submit">
        登录
      </button>
    </div>
  </form>
  <div class="flex flex-wrap mt-6">
    <div class="w-1/2">
    </div>
    <div class="w-1/2 text-right">
      <a href="#pablo" class="text-gray-300"><small>Forgot password?</small></a>
    </div>
  </div>
</div>