[viewBag]
==
{{ form_ajax("onUpdate") }}

<div class="form-control">
    <label class="label" for="accountName">姓名</label>
    <input name="name" type="text" class="input input-bordered" id="accountName" value="{{ user.name }}" />
</div>

<div class="form-control">
    <label class="label" for="accountEmail">Email</label>
    <input name="email" type="email" class="input input-bordered" id="accountEmail" value="{{ user.email }}" />
</div>

<div class="form-control">
    <label class="label" for="accountPassword">新密码</label>
    <input name="password" type="password" class="input input-bordered" id="accountPassword" />
</div>

<div class="form-control">
    <label class="label" for="accountPasswordConfirm">确认密码</label>
    <input name="password_confirmation" type="password" class="input input-bordered" id="accountPasswordConfirm" />
</div>

<div class="mt-6">
    <button type="submit" class="btn btn-default btn-wide">保存</button>
</div>


{{ form_close() }}