 
{% partial "topbar.htm" %}
<header class="main-header sticky-top" id="site-header">
	<div class="container">

		<div class="navbar">
			<div class="navbar-start">
				<div class="dropdown">
					<label tabindex="0" class="btn btn-ghost lg:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
						</svg>
					</label>
					{% if staticMenu.menuItems %}
					<ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
						{% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
					</ul>
					{% endif %}
				</div>
				<a href="/" rel="home">
					{% if this.theme.site_logo %}
					<img style="height:50px;" loading="lazy" src="{{ this.theme.site_logo|media }}" alt="{{ this.theme.site_name }}">
					{% else %}
					<img style="height:50px;" loading="lazy" src="{{ 'assets/images/logo.png'|theme }}" alt="{{ this.theme.site_name }}">
					{% endif %}
				</a>
			</div>
			<div class="navbar-center hidden lg:flex">
				{% component 'staticMenu' %}
			</div>

			<div class="navbar-end">
				{% if user %}
				<a class="dn_btn" href="/user/account">{{ user.name }}</a>,&nbsp;
				<a class="dn_btn" href="" data-request="onLogout" data-request-data="redirect: '/'"><i
						class="iconfont icon-sign-out"></i></a>
				{% else %}
				<a class="js-window-popup" href="/user/account">{{ 'user.signin'|_ }} <i
						class="iconfont icon-Rightarrow"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
</header>