description = "Style"

[viewBag]
==
<?php
use Cms\Classes\Theme;

function onStart() {
    $theme = Theme::getActiveTheme();
    $primary_color = $theme->primary_color;
    $primary_focus = $theme->primary_focus;
    
   
    $this->page["primary_color"] = $this->hexToHsl($primary_color);
    $this->page["primary_focus"] = $this->hexToHsl($primary_focus);
    // print_r($this->page["primary_color"]);
}

function hexToHsl($hex) {
    $hex = array(substr($hex, 1, 2), substr($hex, 3, 2), substr($hex, 5, 2));
    $rgb = array_map(function($part) {
        return hexdec($part) / 255;
    }, $hex);

    $max = max($rgb);
    $min = min($rgb);

    $l = ($max + $min) / 2;

    if ($max == $min) {
        $h = $s = 0;
    } else {
        $diff = $max - $min;
        $s = $l > 0.5 ? $diff / (2 - $max - $min) : $diff / ($max + $min);

        switch($max) {
            case $rgb[0]: $h = ($rgb[1] - $rgb[2]) / $diff + ($rgb[1] < $rgb[2] ? 6 : 0); 
                break; 
            case $rgb[1]: $h=($rgb[2] - $rgb[0]) / $diff + 2;
                break; 
            case $rgb[2]: $h=($rgb[0] - $rgb[1]) / $diff + 4; 
                break; 
        } 
        $h /=6; 
    }
    
    return ($h*360).' '.($s*100).'% '.($l*100).'%'; 
}

?>
== 

<style>
    :root {
        --p: {{ this.page.primary_color }};
        --pf: {{ this.page.primary_focus }}
    }
</style>