[viewBag]
==
<div class="top-bar" id="top-bar">
	<div class="container">
		<div class="top-bar-wrapper">
			<div class="flex items-center space-x-2">
				<div class="language-select">
					{% component "localePicker" %}
				</div>
				{% if this.theme.contact_phone %}
				<div class="contact-item">
					{{ this.theme.contact_phone }}
				</div>
				{% endif %}
				{% if this.theme.contact_email %}
				<div class="contact-item">
					<a href="mailto:{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a>
				</div>
				{% endif %}
			</div>

			<div class="dropdown dropdown-end">
				<label tabindex="0" class="btn btn-circle btn-ghost btn-xs md:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
					</svg>
				</label>
				<div tabindex="0" class="card compact dropdown-content shadow bg-base-100 rounded-box w-64">
					<div class="card-body">
						<div class="flex justify-around">
							{% if this.theme.social_facebook %}
							<a target="_blank" href="{{ this.theme.social_facebook }}">
								<i class="iconfont icon-Facebook text-2xl"></i>
							</a>
							{% endif %}
							{% if this.theme.social_twitter %}
							<a target="_blank" href="{{ this.theme.social_twitter }}">
								<i class="iconfont icon-twitter text-2xl"></i>
							</a>
							{% endif %}
							{% if this.theme.social_linkedin %}
							<a target="_blank" href="{{ this.theme.social_linkedin }}">
								<i class="iconfont icon-linkedin text-2xl"></i>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="socials hidden md:block">
				<span>{{ 'site.followus'|_ }}:</span>
				{% if this.theme.social_facebook %}
				<a target="_blank" href="{{ this.theme.social_facebook }}" class="social__item">
					<i class="iconfont icon-Facebook"></i>
				</a>
				{% endif %}
				{% if this.theme.social_twitter %}
				<a target="_blank" href="{{ this.theme.social_twitter }}" class="social__item">
					<i class="iconfont icon-twitter"></i>
				</a>
				{% endif %}
				{% if this.theme.social_linkedin %}
				<a target="_blank" href="{{ this.theme.social_linkedin }}" class="social__item">
					<i class="iconfont icon-linkedin"></i>
				</a>
				{% endif %}
			</div>

		</div>

	</div>
</div>