[viewBag]
==
<div class="top-bar" id="top-bar">
	<div class="container mx-auto">
		<div class="top-bar-wrapper">
			<div class="top-bar-contact">
				<div class="contact-item language-select">
					{% component "localePicker" %}
				</div>
				{% if this.theme.contact_phone %}
				<div class="contact-item">
					{{ this.theme.contact_phone }}
				</div>
				{% endif %}
				{% if this.theme.contact_email %}
				<div class="contact-item">
					<a href="mailto:{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a>
				</div>
				{% endif %}
			</div>
		 
			<div class="follow_us">
				<span>Follow us:</span>
				<div class="socials">
					{% if this.theme.social_facebook %}
					<a target="_blank" href="{{ this.theme.social_facebook }}" class="social__item">
						<i class="fa fa-facebook"></i>
					</a>
					{% endif %}
					{% if this.theme.social_twitter %}
					<a target="_blank" href="{{ this.theme.social_twitter }}" class="social__item">
						<i class="fa fa-twitter"></i>
					</a>
					{% endif %}
					{% if this.theme.social_instagram %}
					<a target="_blank" href="{{ this.theme.social_instagram }}" class="social__item">
						<i class="fa fa-google"></i>
					</a>
					{% endif %}
					{% if this.theme.social_linkedin %}
					<a target="_blank" href="{{ this.theme.social_linkedin }}" class="social__item">
						<i class="fa fa-linkedin"></i>
					</a>
					{% endif %}
				</div>
			</div>
			<i class="top-bar-close">
				X
			</i>
		</div>
 
	</div>
</div>

