[viewBag]
==
<div class="top-bar" id="top-bar">
	<div class="container">
		<div class="top-bar-wrapper">
			<div class="flex items-center space-x-2">
				<div class="language-select">
					{% component "localePicker" %}
				</div>
				{% if this.theme.contact_phone %}
				<div class="contact-item">
					{{ this.theme.contact_phone }}
				</div>
				{% endif %}
				{% if this.theme.contact_email %}
				<div class="contact-item">
					<a href="mailto:{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a>
				</div>
				{% endif %}
			</div>

			<div class="follow_us">
				<span>{{ 'site.followus'|_ }}:</span>
				<div class="socials">
					{% if this.theme.social_facebook %}
					<a target="_blank" href="{{ this.theme.social_facebook }}" class="social__item">
						<i class="iconfont icon-Facebook"></i>
					</a>
					{% endif %}
					{% if this.theme.social_twitter %}
					<a target="_blank" href="{{ this.theme.social_twitter }}" class="social__item">
						<i class="iconfont icon-twitter"></i>
					</a>
					{% endif %}
					{% if this.theme.social_linkedin %}
					<a target="_blank" href="{{ this.theme.social_linkedin }}" class="social__item">
						<i class="iconfont icon-linkedin"></i>
					</a>
					{% endif %}
				</div>
			</div>

		</div>

	</div>
</div>