{% for category in categories %}
{% set postCount = category.post_count %}
<li>
    <a class="{% if category.slug==currentCategorySlug %}active{% endif %}" href="{{ category.url }}">{{ category.name }} {% if postCount %}
    <span class="badge ml-2">{{ postCount }}</span>
    {% endif %}</a>
    

    {% if category.children|length > 0 %}
    <ul class="menu">
        {% partial __SELF__ ~ "::items"
        categories=category.children
        currentCategorySlug=currentCategorySlug
        %}
    </ul>
    {% endif %}
</li>
{% endfor %}