description = "Section About"

[viewBag]
==
{% if this.theme.block_about == '1' %}
<section class="module {{ className|default('py-24') }}" id="about">
    <div class="container px-4">
        <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                <img alt="..." class="max-w-full rounded-lg shadow-lg" src="{{ this.theme.about_image|media }}" />
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                <div class="md:pr-12">

                    <h3 class="text-3xl font-semibold">{{ this.theme.about_title }}</h3>
                    <p class="mt-4 text-lg leading-relaxed text-gray-600">
                        {{ this.theme.about_subtitle }}
                    </p>

                    <div>{{ this.theme.about_description|raw }}</div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endif %}