description = "Section Features"

[viewBag]
==
{% if this.theme.block_features == '1' %}
{% set fpFeatures = this.theme.block_features_repeater %}
<section class="module pt-20" id="services">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">服务</h2>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    服务服务服务服务服务服务
                </p>
            </div>
        </div>
        <div class="flex flex-wrap">
            {% if fpFeatures is not empty %}
            {% for feature in fpFeatures %}

            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="iconfont icon-lightbulb"></i>
                        </div>
                        <h6 class="text-xl font-semibold">{{ feature.feature_title }}</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            {{ feature.feature_text|raw }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}