<div class="swiper mainSwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="hero min-h-screen bg-auto" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAE5JREFUKFNjZGBgMGZgYDjLgAAgPgigiDEiKQAxkTWhGICsEN1kFI0whegmIVsNlgMpxKYI5iKYO41JUojNE1ithllDlGewKcYIHqICHAARyRbX7SlXyQAAAABJRU5ErkJggg==);">
                <div class="hero-overlay bg-opacity-60"></div>
                <div class="text-center hero-content text-neutral-content">
                    <div class="max-w-md">
                        <h1 class="mb-5 text-5xl font-bold">
                            Hello there
                        </h1>
                        <p class="mb-5">
                            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                            quasi. In
                            deleniti eaque aut repudiandae et a id nisi.
                        </p>
                        <button class="btn btn-primary">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="hero min-h-screen bg-base-500 bg-repeat bg-auto" style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAACdJREFUGFdjvLn/5n91R3VGBjQAEscQRFZDvCS6FcTrRHcUIz7XAgCGZBLoJs8G4AAAAABJRU5ErkJggg==)">
                <div class="flex-col justify-center hero-content lg:flex-row">
                    <div class="text-center lg:text-left">
                        <h1 class="mb-5 text-5xl font-bold">
                            Hello there
                        </h1>
                        <p class="mb-5">
                            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                            quasi. In
                            deleniti eaque aut repudiandae et a id nisi.
                        </p>
                    </div>
                    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                        <div class="card-body">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Email</span>
                                </label>
                                <input type="text" placeholder="email" class="input input-bordered">
                            </div>
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Password</span>
                                </label>
                                <input type="text" placeholder="password" class="input input-bordered">
                                <label class="label">
                                    <a href="#" class="label-text-alt">Forgot password?</a>
                                </label>
                            </div>
                            <div class="form-control mt-6">
                                <input type="button" value="Login" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>