description = "Section Testimonials"

[viewBag]
==
{% if this.theme.block_testimonials == '1' %}
{% set fpTestimonial = this.theme.block_testimonials_repeater %}
<section class="module bg-fixed {{ className|default('py-36') }} bg-gray-900 text-white parallax-bg bg-center testimonial"
    style="background-image: url({{this.theme.block_testimonials_image|media }})">
    <div class="swiper commonSwiper">
        <ul class="swiper-wrapper">

            {% if fpTestimonial is not empty %}
            {% for testimonial in fpTestimonial %}
            <li class="swiper-slide">
                <div class="container">
                    <div class="w-full text-center">
                        <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                    <div class="w-2/3 mx-auto text-center text-lg uppercase tracking-widest leading-8 font-extralight">
                        <blockquote class="testimonial-text font-alt">{{ testimonial.testimonial_text|raw }}
                        </blockquote>
                    </div>
                    <div class="w-1/3 mx-auto mt-12">
                        <div class="text-center">
                            <div class="tracking-widest font-alt">
                                <div class="testimonial-title">{{ testimonial.testimonial_name }}</div>
                                <div class="text-gray-400 text-sm">{{ testimonial.testimonial_company }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endif %}

        </ul>
    </div>
</section>
{% endif %}