description = "参会表单"

[viewBag]
==
<form data-request="{{ __SELF__ }}::onFormSubmit" data-request-success="$('#myModal').modal('hide')">

    {{ form_token() }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="form-group">
        <input placeholder="姓名" type="text" id="fullname" name="fullname" class="form-control">
    </div>

    <div class="form-group">
        <input placeholder="电话" type="text" id="mobile" name="mobile" class="form-control">
    </div>

    <div class="form-group">
        <input placeholder="公司" type="text" id="company" name="company" class="form-control">
    </div>

    <div class="form-group">
        <input placeholder="邮箱" type="text" id="email" name="email" class="form-control">
    </div>
    
    <div class="form-group">
        <input placeholder="职位" type="text" id="post" name="post" class="form-control">
    </div>

    <div class="form-group">
        {% partial '@recaptcha' %}
    </div>

    <button id="simpleContactSubmitButton" type="submit" class="btn btn-primary">提交</button>

</form>