{% set posts = __SELF__.posts %}
 
<article class="max-w-none prose prose-a:no-underline prose-a:font-normal">
    {% for post in posts %}
    <div class="mb-16">
        {% if post.featured_image %}
        <div>
            <img class="max-w-full" data-src="{{ post.featured_image|media }}" src="{{ post.featured_image|media }}" alt="{{ post.title }}" />
        </div>
        {% endif %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
            Posted
            {% if post.categories.count %} in {% endif %}
            {% for category in post.categories %}
            <a href="{{ category.url }}" class="link link-primary">{{ category.name }}</a>{% if not loop.last
            %}, {%
            endif
            %}
            {% endfor %}
            on {{ post.published_at|date('M d, Y') }}
        </p>
        <p class="text-gray-500">{{ post.summary|raw }}</p>
        <p><a href="{{ post.url }}">Read more</a></p>
    </div>
    {% else %}
    <p class="no-data">{{ __SELF__.noPostsMessage }}</p>
    {% endfor %}
</article>

{% if posts.lastPage > 1 %}
<div class="btn-group justify-center">
    {% if posts.currentPage > 1 %}
    <a class="btn" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr;
    </a>

    {% endif %}

    {% for page in 1..posts.lastPage %}

    <a class="btn {{ posts.currentPage == page ? 'btn-active' : null }}"
        href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>

    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <a class="btn" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">
        &rarr;</a>

    {% endif %}
</div>
{% endif %}