description = "Default"

[localePicker]
forceUrl = 0

[session]
security = "all"

[staticMenu]
code = "main"
==
<?php
function onStart()
{
	$this['locale'] = App::getLocale();
}
?>
==
{% set CurrentLanguage = locale %}
{% spaceless %}
<!doctype html>
<html lang="en" data-theme="mytheme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">

    <title>{{ this.theme.site_name }}</title>

    {% styles %}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2888569_y3e5tsukph.css">
    <link href="{{ [
        'assets/iconfont/iconfont.css',
        'assets/dist/swiper.css',
        'assets/dist/style.css',
    ]|theme }}" rel="stylesheet">
    {% placeholder head %}
</head>

<body class="min-h-screen">
    {% partial "header" %}



    <main>
        {% page %}
    </main>


    <!-- Footer Widgets -->
    {% partial "footer/widgets" %}

    <!-- 'assets/js/popper.js',
     'assets/js/bootstrap.min.js',
     'assets/js/stellar.js',
     'assets/vendors/lightbox/simpleLightbox.min.js',
     'assets/vendors/nice-select/js/jquery.nice-select.min.js',
     'assets/vendors/isotope/imagesloaded.pkgd.min.js',
     'assets/vendors/isotope/isotope.pkgd.min.js',
     'assets/vendors/owl-carousel/owl.carousel.min.js',
     'assets/vendors/jquery-ui/jquery-ui.js',
     'assets/js/jquery.ajaxchimp.min.js',
     'assets/vendors/popup/jquery.magnific-popup.min.js',
     'assets/js/mail-script.js',
     'assets/vendors/counter-up/jquery.waypoints.min.js',
     'assets/vendors/counter-up/jquery.counterup.js', -->
    <script src="{{ [
            'assets/js/jquery-3.5.1.js',
           
            'assets/dist/swiper.js',
            'assets/dist/main.js'
            ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}

</body>

</html>
{% endspaceless %}