description = "Default"

[localePicker]
forceUrl = 0

[session]
security = "all"

[staticMenu]
code = "main"
==

{% spaceless %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">

    <title>{{ this.theme.site_name }}</title>

    {% styles %}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2888569_2g6qdc4cd9a.css">
    <link href="{{ [
        'assets/iconfont/iconfont.css',
        'assets/dist/swiper.min.css',
        'assets/dist/style.css',
    ]|theme }}" rel="stylesheet">
    {% placeholder head %}
    {% partial "style" %}
</head>

<body class="min-h-screen">
    {% partial "header" %}

    <main>
        {% page %}
    </main>

    <!-- Footer -->
    {% partial "footer/footer" %}
    <script src="{{ 'assets/dist/jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/dist/swiper.min.js'|theme }}"></script>
    <script src="{{ ['assets/dist/main.js']|theme }}"></script>
    {% framework extras %}
    {% scripts %}

</body>

</html>
{% endspaceless %}