description = "Layout For Pages"

[staticPage]
useContent = 1
default = 1

[localePicker]
forceUrl = 0

[staticMenu]
code = "main"
==
<?php
function onStart()
{
	$this['locale'] = App::getLocale();
}
?>
==
{% set CurrentLanguage = locale %}
{% spaceless %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/png">
                    
        <title>{{ this.theme.site_name }}</title>
        
        {% styles %}
   
        <link ref="stylesheet" href="//at.alicdn.com/t/font_2212952_2iyewuim8nu.css" />
        <link href="{{ [
            'assets/iconfont/iconfont.css',
            'assets/css/bootstrap.css',
            'assets/vendors/linericon/style.css',
            'assets/vendors/owl-carousel/owl.carousel.min.css',
            'assets/vendors/lightbox/simpleLightbox.css',
            'assets/vendors/nice-select/css/nice-select.css',
            'assets/vendors/animate-css/animate.css',
            'assets/css/style.css',
            'assets/css/responsive.css'
        ]|theme }}" rel="stylesheet">
        
        {% placeholder head %}
        </head>
    <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
        <main>
            <div class="page-loader">
                <div class="loader">Loading...</div>
            </div>
            <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{{ 'assets/images/logo.png'|theme }}" alt="CSDC Logo" style="max-height: 30px;" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="custom-collapse">
                    {% component "localePicker" %}
                    {% if CurrentLanguage == "en" %}
                         {% component 'staticMenu' %}
                    {% else %}
                         {% component 'staticMenu' %}
                    {% endif %}
                    </div>
                </div>
            </nav>
            
            <div class="main">

            {% component "staticPage" %}
                
            <!-- Footer Widgets -->
            <!-- {% partial "footer/widgets" %} -->
            {% content "footer.htm" %}
            
            <hr class="divider-d">
            
            <!-- Footer -->
            {% partial "footer/footer" %}  

            <!-- fixed sidebar -->
            {% partial "footer/sidebar" %}                

            </div>
            <div class="scroll-up"><a href="#totop"><i class="iconfont iconTop"></i></a></div>
        </main>

        <script src="{{ [
            'assets/lib/jquery/dist/jquery.js',
            'assets/lib/bootstrap/dist/js/bootstrap.min.js',
            'assets/lib/wow/dist/wow.js',
            'assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js',
            'assets/lib/isotope/dist/isotope.pkgd.js',
            'assets/lib/imagesloaded/imagesloaded.pkgd.js',
            'assets/lib/flexslider/jquery.flexslider.js',
            'assets/lib/owl.carousel/dist/owl.carousel.min.js',
            'assets/lib/magnific-popup/dist/jquery.magnific-popup.js',
            'assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js',
            'assets/js/plugins.js',
            'assets/js/main.js'
            ]|theme }}"></script>        
        {% framework extras %}
        {% scripts %} 

    </body>
</html>
{% endspaceless %}