url = "/blog/post/:slug"
layout = "default"
title = "Blog Post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[forumEmbedTopic]
embedCode = "{{ :slug }}"
channelSlug = "blog-comments"
memberPage = "user/account"

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

==
<?php

use RainLab\Blog\Models\Post as BlogPost;

function onStart()
{
	$posts = BlogPost::inRandomOrder()->take(5)->get();
    $posts->each(function($post) {
        $post->setUrl($this->postPage, $this->controller, []);
    });
    $this['may_like'] = $posts;
}
?>
==

<section class="page module">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12 lg:col-span-9">
                <div class="container pt-10">
                    {% component 'blogPost' %}
                    <div class="prose max-w-none mt-10">
                        {% component 'forumEmbedTopic' %}
                    </div>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-3">
                 <div class="py-5 sticky top-10">
                     <h3 class="text-lg my-5">猜你喜欢</h3>
                     <ul class="space-y-4">
                        {% for pos in may_like %}
                         <li class="flex items-start">
                            {% if pos.featured_image %}
                                <img class="w-1/5 bg-gray-50 mr-2" src="{{pos.featured_image|media}}" />
                            {% endif %}
                             <div class="flex-1">
                                <p class="text-gray-600"><a href="{{pos.url}}">{{pos.title}}</a></p>
                                <p class="text-sm text-gray-400">{{pos.published_at|date('M d, Y')}}</p>
                             </div>
                         </li>
                         {% endfor %}
                     </ul>
                 </div>
            </div>
        </div>
        
    </div>
</section>