{{ form_ajax(__SELF__ ~ '::onFormSubmit') }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="form-group">
        <h2>上传案例</h2>
    </div>

    <div class="form-group">
        <label for="title">案例标题:</label>
        <input type="text" id="title" name="title" class="form-control">
    </div>


    <div class="form-group">
        <label for="category">案例类型:</label>
        <select class="form-control" id="category" name="category">
            <option value=""></option>
            <option value="Lead">Lead</option>
            <option value="Senior">Senior</option>
            <option value="Direct">Direct</option>
            <option value="Corporate">Corporate</option>
            <option value="Dynamic">Dynamic</option>
        </select>
    </div>

    <div class="form-group">
        <label for="brand">案例品牌:</label>
        <select class="form-control" id="brand" name="brand">
            <option value=""></option>
            <option value="Lead">Lead</option>
            <option value="Senior">Senior</option>
            <option value="Direct">Direct</option>
            <option value="Corporate">Corporate</option>
            <option value="Dynamic">Dynamic</option>
        </select>
    </div>

    <div class="form-group">
        <h4>案例封面</h4>
        {% partial '@file-upload' %}
    </div>
    <hr>

    <div class="form-group">
        <label for="skills">正文编辑:</label>
        <textarea id="skills" name="skills" class="form-control" rows="8" cols="80" placeholder="正文编辑"></textarea>
    </div>




    <div class="form-group">
        {% partial '@recaptcha' %}
    </div>

    {{ form_submit() }}

{{ form_close() }}