:root {
  /*   default colors */

  --primary-color: #4cc2c0;
  --secondary-color: #f15b26;
  --heading-color: #2f2c2c;
  --global-link-color: #2f2c2c;
  --font-color: #acacac;

  --white-color: #fff;
  --border-color: #f7f9f9;
  --main-border-color: #ced3d3;

  /* Socials color */

  --social-bg: #333;
  --faceb-color: #3b5998;
  --youtube-color: #e82018;

  --h1-fontsize: 48px;
  --h2-fontsize: 42px;
  --h3-fontsize: 36px;
  --h4-fontsize: 30px;
  --h5-fontsize: 24px;
  --h6-fontsize: 18px;
  --h-font-weight: 400;

  --heading-font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  --p-font-size: 18px;

  /*  global styles */

  --body-bg: #fff;
  --body-font-size: 16px;
  --body-font-color: #acacac;
  --body-dark-font-color: #2f2c2c;
  --body-font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
  --body-font-weight: 400;
  --base-line-height: 1.5;

  --semibold-weight: 600;

  --border-round: 100%;
}
/*=================== fonts ====================*/

@mixin transition(
  --property: all,
  --duration: 300ms,
  --animate: linear,
  --delay: 0s
) {
  transition: --property --duration --animate --delay;
}

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
