==
function onStart()
{
$this['logined'] = Auth::check();
}
==
{% set post = __SELF__.post %}

<div class="prose max-w-none prose-a:no-underline">
    {% if post.featured_images.count %}
    <div class="carousel w-full">
        {% for image in post.featured_images %}
        <div id="slide{{loop.index0}}" class="carousel-item w-full relative">
            <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}"
                class="w-full max-width-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide{{(loop.index0-1+loop.length)%loop.length}}" class="btn btn-circle">❮</a>
                <a href="#slide{{(loop.index0+1)%loop.length}}" class="btn btn-circle">❯</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h1 class="text-xl">{{post.title}}</h1>
    <p>
        Posted
        {% if post.categories.count %} in
        {% for category in post.categories %}
        <a class="link link-primary" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        on {{ post.published_at|date('M d, Y') }}
    </p>
 
</div>

{% if logined %}
<div class="prose max-w-none prose-a:no-underline prose-a:font-normal">
    {{ post.content_html|raw }}
</div>
{% else %}
    {{ post.summary|raw }}
    <div class="divider">please login first</div>
    <div class="flex justify-center">{% partial 'loginModal' %}</div>
{% endif %}
