{% set post = __SELF__.post %}
<div class="page-title">
    {{post.title}}
</div>
<div class="container p-4 prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl mt-8">

    <div>
        {{ post.content_html|raw }}
    </div>

    {% if post.featured_images.count %}
    <div class="featured-images text-center img">
        {% for image in post.featured_images %}
        <div>
            <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}"
                style="max-width: 100%" />
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <p class="text-gray-400 my-5">
        Posted
        {% if post.categories.count %} in
        {% for category in post.categories %}
        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        on {{ post.published_at|date('M d, Y') }}
    </p>
</div>